.wrapper {
  background-color: #dddddd;
  display: flex;
  align-items: center;
  padding: 20px;
}

.content {
  font-size: 24px;
  margin-left: 100px;
  color: rgb(74, 158, 211);
}

.listWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}